<!DOCTYPE html>
<html lang="de" xmlns:th="http://nilsistToll.de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BMI Calculator</h1>

<form action="#" method="post" th:object="${bmiDTO}">
    Gewicht: <input type="number" th:field="*{weight}">
    Groesse: <input type="number" th:field="*{high}">
    Alter: <input type="number" th:field="*{age}">
    <button type="reset">Loeschen</button>
    <button type="submit">BMI</button>
</form>

<h2>Mein BMI Wert:</h2>
<p th:text="${bmiDTO.bmi}"></p>
</body>
</html>